{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_home/_navbar_app.html' %}
{% endblock %}

{% block title %}
<H2>{% translate 'SMS Journal' %}</H2>
<hr>{% endblock %}


{% block content %}


<table  id="table_managed_rev" class="table table-striped table-hover small">
<thead class="thead-dark"><tr>
<th>ID</th>
<th>Date</th>
<th>Sender</th>
<th>Sender Quota</th>
<th>Dest Mobile</th>
<th>Message</th>

</tr>
</thead>


{% for log in journal %}
<tr>
<td class="py-1 text-left">{{ log.id }}</td>
<td class="py-1 px-1 mx-0">{{ log.created_at|date:'Y-m-d H:i:s (D)' }}</td>    
<td class="py-1 text-left">{{ log.created_by }}</td>
<td class="py-1 text-left">{{ log.quota }}</td>
<td class="py-1 text-left">{{ log.mobile }}</td>
<td class="py-1 text-left"><i>... encrypted ...</i></td>
</tr>{% endfor %}
</table>




{% endblock %}


