{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_sirene/_navbar_app.html' %}
{% endblock %}

{% block title %}
<H2>{% translate 'Editor' %}</H2>
<hr>{% endblock %}

{% block content %}


<form action="" method="post"> {% csrf_token %}

  <input type="hidden" id="postId" name="name" value="{{ form.name }}">

  <a class="btn btn-outline-dark" onclick="history.back()" role="button">
   <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Retour </a>

  <input class="btn btn-danger" type="submit" value="Publier !">


<!-- Description / Hint -->

{% if form.description %}
<hr>
<div class="alert alert-warning" role="alert">
<pre>DESCRIPTION
{{ form.description }}</pre>
</div>
{% endif %}


<!-- TITLE -->
<hr>
<div class="form-group row">
  <label class="col-sm-2 col-form-label" for="for_title">Titre</label>

  <div class="col-sm-10">
    <textarea class="form-control" id="id_title" name="title" cols="80" rows="1">{{ form.title }}</textarea>
    <small id="help_has_publicpage" class="form-text text-muted">
    Le titre définit l'objet des  MAILs et le message SMS si nécessaire.</small>
  </div>
</div>


<!-- CATEGORY-->
<hr>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Catégorie</label><br>
  <div class="col-sm-10">
  <select class="custom-select" name="category" required id="id_category">
  {% for cat in categories %}
   {% if cat.name == form.category.name %}
      <option value="{{ cat.name }}" selected>{{ cat.longname }}</option>
    {% else %}
    <option value="{{ cat.name }}">{{ cat.longname }}</option>
  {% endif %}
{% endfor %}
</select>
</div>
</div>

<!-- Severity-->
<hr>
<div class="form-group row">
<label class="col-sm-2 form-form-label" for="for_titre">Sévérité</label>
<div class="col-sm-10">
  <select class="custom-select" name="severity" id="id_severity">
  <option value="na">n/a</option>
  {% if form.severity == 'ok' %}<option value="ok" selected="yes">OK</option>
  {% else %}<option value="ok">ok</option>{% endif %}
  
  {% if form.severity == 'info' %}<option value="info" selected="yes">info</option>
  {% else %}<option value="info">info</option>{% endif %}
  
  {% if form.severity == 'minor' %}<option value="minor" selected="yes">minor</option>
  {% else %}<option value="minor">minor</option>{% endif %}
  
  {% if form.severity == 'major' %}<option value="major" selected="yes">major</option>
  {% else %}<option value="major">major</option>{% endif %}
  
  {% if form.severity == 'critical' %}<option value="critical" selected="yes">critical</option>
  {% else %}<option value="critical">critical</option>{% endif %}
  </select>
<small id="help_has_publicpage" class="form-text text-muted">
La Sévérité fixe le code couleur du message.
</small>
</div>
</div>



<!-- PUBLIC PAGE selector -->
<hr>
<div class="form-group row">
  <label class="col-sm-2 form-form-label" for="for_titre">Page publique</label>

<div class="col-sm-10">
<select class="custom-select" name="publicpage">
<option value="">Non (aucune / inchangée)</option>
{% for item in publicpages %}
<!-- {{ item.name }} is? {{ form.publicpage.name }} -->
   {% if item.name == form.publicpage.name %}
    <option value="{{ item.name }}" selected="selected"> {{ item.title }} ({{ item.name}}/{{ item.severity }})</option>
    {% else %}
    <option value="{{ item.name }}">{{ item.title }} ({{ item.name}}/{{ item.severity }})</option>
    {% endif %}
{% endfor %}
</select>
<br><small class="text-danger">Attention ! Visibilté complète sur Internet</small>
</div>
</div>



<!-- PRIVATE PAGE -->
<hr>
<div class="form-group">
{% if form.has_privatepage %}
<input type="checkbox" name="has_privatepage" checked>
{% else %}
<input type="checkbox" name="has_privatepage">
{% endif %}
<label class="form-check-label">Page privée</label>
<small id="help_has_publicpage" class="form-text text-muted">
Un message en vue privée est accessible à tous les utilisateurs connectés.
</small>
</div>


<!-- EMAIL -->

<hr>
<div class="form-group">
{% if form.has_email %}
<input type="checkbox" name="has_email" checked>
{% else %}
<input type="checkbox" name="has_email">
{% endif %}
<label class="form-check-label">Envoyer un email</label>
<small id="emailHelp" class="form-text text-muted">Destinataires selon les groupes sélectionnés ci-dessous.</small>
</div>


<!-- SMS -->
<hr>
<div class="form-group">
{% if form.has_sms %}
<input type="checkbox" name="has_sms" checked>
{% else %}
<input type="checkbox" name="has_sms">
{% endif %}
<label class="form-check-label" for="for_has_email">Envoyer un SMS</label>
<small id="emailHelp" class="form-text text-muted">Destinataires selon les groupes sélectionnés ci-dessous.</small>



<!-- Message BODY-->
<hr>
<label class="h4">Message</label>

<small class="form-text text-muted">
Ce texte constituera le message privé, et le corps du mail si nécessaire. Il ne sera pas affiché en page publique Internet.
</small>
<br>
<!-- <textarea class="form-control" name="body" rows="8">{{ form.body }}</textarea> -->

<textarea class="tinymce" cols="80" data-mce-conf="{&quot;theme&quot;: &quot;silver&quot;, &quot;height&quot;: 500, &quot;menubar&quot;: false, &quot;plugins&quot;: &quot;advlist,autolink,lists,link,image,charmap,print,preview,anchor,searchreplace,visualblocks,code,fullscreen,insertdatetime,media,table,paste,code,help,wordcount&quot;, &quot;toolbar&quot;: &quot;undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code | preview | help&quot;, &quot;language&quot;: &quot;fr_FR&quot;, &quot;spellchecker_languages&quot;: &quot;Anglais / Anglais australien / Anglais britannique=en,+Fran\u00e7ais=fr,Su\u00e9dois=sv&quot;, &quot;directionality&quot;: &quot;ltr&quot;, &quot;strict_loading_mode&quot;: 1, &quot;selector&quot;: &quot;#id_body&quot;}" id="id_body" maxlength="2500" name="body" rows="10">
{{ form.body }}
</textarea>


<!-- SCOPES -->

<hr>
<h3>Destinataires</h3>
<small class="form-text text-muted">
  Chaque destinantaire ne reçoit qu'un seul mail et un seul SMS au maximum.
</small>

<hr>

<strong>Groupes d'utilisateurs</strong><br><br>

{% if selector_group %}

  {% for gr in selector_group %}
  <div class="form-check form-check-inline col-sm-3">
    {% if gr.is_checked %}
    <input class="form-check-input" type="checkbox" value="" name="scope:group:{{ gr.name }}" checked>
    {% else %}
    <input class="form-check-input" type="checkbox" value="" name="scope:group:{{ gr.name }}">
    {% endif %}
    <label class="form-check-label" style="font-size:12px;" for="defaultCheck1" data-toggle="tooltip" title="{{ gr.description|default:'n/a'}}">
      {{ gr.name }}
    </label>
  </div>
  {% endfor %}

{% else %}
  <p class="text-muted">Aucun groupe général disponible.</p>

{% endif %}


<hr>
<strong>Sites</strong><br><br>
{% if selector_site %}

  {% for item in selector_site %}
  <div class="form-check form-check-inline col-sm-3">
    {% if item.is_checked %}
    <input class="form-check-input" type="checkbox" value="" name="scope:site:{{ item.name }}" checked>
    {% else %}
    <input class="form-check-input" type="checkbox" value="" name="scope:site:{{ item.name }}">
    {% endif %}
    <label class="form-check-label"style="font-size:12px;" for="defaultCheck1" data-toggle="tooltip" 
      title="{{ item.description|default:item.name}}">
      {{ item.display|default:item.name }}
    </label>
  </div>
  {% endfor %}

{% else %}
<p class="text-muted">Aucun site disponible.</p>

{% endif %}



<hr>
<strong>Groupes de Sites</strong><br><br>
{% if selector_sitegroup %}

  {% for item in selector_sitegroup %}
  <div class="form-check form-check-inline col-sm-3">
    {% if item.is_checked %}
    <input class="form-check-input" type="checkbox" value="" name="scope:sitegroup:{{ item.name }}" checked>
    {% else %}
    <input class="form-check-input" type="checkbox" value="" name="scope:sitegroup:{{ item.name }}">
    {% endif %}
    <label class="form-check-label"  style="font-size:12px;" for="defaultCheck1" data-toggle="tooltip" 
      title="{{ item.description|default:'n/a'}}">
      {{ item.display|default:item.name }}
    </label>
  </div>
  {% endfor %}

{% else %}
<p class="text-muted">Aucun groupe de site disponible.</p>

{% endif %}



<hr>
<strong>Applications (Globales)</strong><br><br>
{% if selector_app_global %}

  {% for item in selector_app_global %}
  <div class="form-check form-check-inline col-sm-3">
    {% if item.is_checked %}
    <input class="form-check-input" type="checkbox" value="" name="scope:app:{{ item.name }}" checked>
    {% else %}
    <input class="form-check-input" type="checkbox" value="" name="scope:app:{{ item.name }}">
    {% endif %}
    <label class="form-check-label" style="font-size:12px;" for="defaultCheck1" data-toggle="tooltip" title="{{ item.description|default:'n/a'}}">
      {{ item.name }}
    </label>
  </div>
  {% endfor %}

{% else %}
<p class="text-muted">Aucune application globale disponible.</p>
{% endif %}


<hr>
<strong>Applications (de Site)</strong><br><br>
{% if selector_app %}

  {% for item in selector_app %}
  <div class="form-check form-check-inline col-sm-3">
    {% if item.is_checked %}
    <input class="form-check-input" type="checkbox" value="" name="scope:app:{{ item.name }}" checked>
    {% else %}
    <input class="form-check-input" type="checkbox" value="" name="scope:app:{{ item.name }}">
    {% endif %}
    <label class="form-check-label" style="font-size:12px;" for="defaultCheck1" data-toggle="tooltip" title="{{ item.description|default:'n/a'}}">
      {{ item.name }}
    </label>
  </div>
  {% endfor %}
{% else %}
<p class="text-muted">Aucune application disponible.</p>
{% endif %}


<hr>
<strong>Utilisateurs / Contacts</strong><br>
<small class="form-text text-muted">
Ajouter des logins ou contacts. Séparer par des blancs ou sauts de ligne.
</small>
<br>
<textarea class="form-control" name="users" rows="3">{{ form.users }}</textarea>




<hr>

<div class="form-group">

<a class="btn btn-outline-dark" onclick="history.back()" role="button">
   <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Retour </a>

<button type="submit" class="btn btn-danger">Publier</button>

</div>

</form>

{% endblock %}





