{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_sirene/_navbar_app.html' %}
{% endblock %}

{% block title %}<H2><i class="fa fa-fw fa-bullhorn" aria-hidden="true"></i>&nbsp;
{% if form.title.value %}{{ form.title.value }}{% else %}
{% translate 'New message' %}{% endif %}</H2>
<hr>{% endblock %}

{% block content %}


<form action="" method="post"> {% csrf_token %}
<input type="hidden" id="postId" name="name" value="{{ form.name }}">

<a class="btn btn-outline-dark" onclick="history.back()" role="button">
 <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;{% translate 'Back' %}</a>

<input class="btn btn-danger" type="submit" value="{% translate 'Send' %}">



<br>
<!-- Description / Usage -->
{% if form.description %}
<hr>
<div class="alert alert-warning" role="alert">
<pre><b>{% translate 'Usage' %}</b>

{{ form.description.value }}</pre>
</div>
<hr>
{% endif %}


<!-- FORM-->
<table class="table">
{{ form.as_table }}
</table>


<!-- Butons bottom -->
<div class="form-group">
<a class="btn btn-outline-dark" onclick="history.back()" role="button">
   <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Retour </a>
<button type="submit" class="btn btn-danger">Publier</button>
</div>

</form>
{% endblock %}


<!-- activate select2 on specified fields  -->
{% block script %}
<script>
$(document).ready(function() { $('#id_notify_group').select2({ width: '100%' }); });
$(document).ready(function() { $('#id_notify_sitegroup').select2({ width: '100%' }); });
$(document).ready(function() { $('#id_notify_app').select2({ width: '100%' }); });
$(document).ready(function() { $('#id_notify_site').select2({ width: '100%' }); });
$(document).ready(function() { $('#id_notify_customer').select2({ width: '100%' }); });
</script>
{% endblock %}
