{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_sirene/_navbar_app.html' %}
{% endblock %}

{% block title %}
<H2>{% translate 'Public page preview' %}</H2>
<hr>{% endblock %}


{% block content %}

{% if 'p_sirene_public_push' in aaa.perms %} {% if ppid %}
<form style="display:inline;" action="{% url 'app_sirene:publicpage_push' ppid %}" method="post">{% csrf_token %}
<button role="button" class="btn btn-danger">{% translate 'Publish' %}</button>
</form>
{% endif %}
<hr>
{% endif %}



<table class="table small table-striped">
  <tr><th>{% translate 'Severity' %}</th>
    <td class="h5"><span class="badge text-bg-{{ bgcolor }}">{% translate publicpage.severity %}</span></td>
  </tr>
  <tr><th>{% translate 'Name' %}</th><td>{{ publicpage.name }}</td></tr>
  <tr><th>{% translate 'Title' %}</th><td>{{ publicpage.title }}</td></tr>
  <table>
  
<div class="mt-4 p-3 bg-{{ bgcolor|default:'success' }} {{ fgcolor|default:'text-white' }} ">
  <h3>{{ publicpage.title }}</h3>
  <hr class="my-4">
  <span style="white-space: pre-wrap;">{{ publicpage.body | safe}}</span>
  <hr class="my-4">
  <em>
</em>
</div>


{% endblock %}







