{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_home/_navbar_app.html' %}
{% endblock %}

{% block title %}
<H2>{% translate 'YAML Import tool' %}</H2>
<hr>{% endblock %}

{% block content %}


<form action="" method="post"> {% csrf_token %}

<div class="form-group">
<button type="submit" name="submit" value="verify" class="btn btn-secondary">{% translate 'Check' %}</button>
<button type="submit" name="submit" value="import" class="btn btn-danger">{% translate 'Import' %}</button>
</div>

<small class="form-text text-muted">{% translate 'Use Check button for YAML syntax check before import' %}</small>
<hr>

<pre>
  <textarea class="form-control" name="rawdata" rows="32">{{ rawdata }}</textarea>
</pre>


</form>

{% endblock %}