
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.helptext {
    color: grey;
    font-size: 12px;
}

pre {
  margin-bottom: 0rem;
}

a { 
  color: #000; 
  text-decoration: none;

} 

