# ------------------------------------
# env.template
# ------------------------------------

# ---------------
# version
# ---------------
CAVALIBA_DOCKER_IMAGE=cavaliba/cavaliba:3.14.3

# -----------------------
# passwords and secrets
# -----------------------
CAVALIBA_ADMIN_PASSWORD=change_this_user_password
CAVALIBA_ADMIN_EMAIL=admin@mydomain.com

# cookie protection
CAVALIBA_SECRET_KEY=changeme_with_a_long_random_string

# sensitive fields encryption in DB
CAVALIBA_CIPHER_KEY="Change me. Please..."

# ---------------
# network / secu
# ---------------
# if mulitple instance on same host
CAVALIBA_TENANT=cavaliba

# exposed HTTP port
CAVALIBA_PORT=8000

# CSRF protection
CAVALIBA_CSRF_TRUSTED_ORIGINS="http://localhost:8000"
CAVALIBA_ALLOWED_HOSTS="localhost 127.0.0.1 *"

# UI session duration max (seconds) ; default 3600 (1 hour)
CAVALIBA_SESSION_DURATION=3600


# ---------------
# Database
# ---------------

# postgresql
#CAVALIBA_DB_ENGINE=django.db.backends.postgresql
#CAVALIBA_DB_PORT=5432

# mariadb
CAVALIBA_DB_ENGINE=django.db.backends.mysql
CAVALIBA_DB_PORT=3306

# common
CAVALIBA_DB_HOST=cavaliba_db
CAVALIBA_DB_DATABASE=cavaliba
CAVALIBA_DB_USER=cavaliba
CAVALIBA_DB_PASSWORD=changeme_please
CAVALIBA_DB_ROOT_PASSWORD=changeme_also_please

# ---------------
# task queue
# ---------------
# edit if using external cloud services
CAVALIBA_CELERY_BROKER_URL="redis://cavaliba_redis:6379"
CAVALIBA_CELERY_RESULT_BACKEND="redis://cavaliba_redis:6379"

# -------------------------
# EMAIL relay
# -------------------------
CAVALIBA_EMAIL_HOST=localhost
CAVALIBA_EMAIL_PORT=25
CAVALIBA_EMAIL_USER=noreply
CAVALIBA_EMAIL_PASSWORD=changeme

# -------------------------
# SMS relay
# -------------------------
CAVALIBA_SMS_URL="https://my.sms.provider.com/api/"
CAVALIBA_SMS_LOGIN="my_sms_account"
CAVALIBA_SMS_PASSWORD="changeme"

# -------------------------
# OIDC / OAUTH2 Provider
# -------------------------

OAUTH2_PROXY_PROVIDER="oidc"
OAUTH2_PROXY_PROVIDER_DISPLAY_NAME=""
OAUTH2_PROXY_OIDC_ISSUER_URL=""
OAUTH2_PROXY_CLIENT_ID=""
OAUTH2_PROXY_CLIENT_SECRET=""
OAUTH2_PROXY_COOKIE_SECRET=""
OAUTH2_PROXY_REDIRECT_URL=""


# -------------------------
# DEBUG mode 0/1
# keep 0 in PRODUCTION
# IP for DDT
# -------------------------
CAVALIBA_DEBUG=0
CAVALIBA_DEBUG_IP="172.19.0.5 172.19.0.6"