# =====================================
# oauth2_proxy config auth_request mode
# user => nginx  => app
#           => oaut2_proxy (IDP client) <=> IDP
# (user) => IDP (Keycloak) 
# =====================================

# remember : in auth_request oa2p is hidden from user and can be accessed only from nginx

# init
#  0.  oa2P >> IDP to get OIDC "config" (.well-known ...)

#sign-in
#  1.  user   > nginx    : get app
#  2.  nginx  > oa2p     : auth_request to /oauth2/auth ; no cookie,  user known ?
#  3.  oa2p   > nginx    : 401 no
#  4.  nginx  > user     : 401 ? redirect user to (nginx:)/oauth2/sign-in 
#  5.  user   > nginx    : get /oauth2/sign-in
#  6.  nginx  > oa2P     : proxypass to oa2p
#  7.  oa2p   > nginx    : send user to IDP oidc_issuer_url
#  8.  nginx  > user     ; go to IDP oidc_issuer_url
#  9.  user   > IDP      ; log me in
#       (user authenticate to IDP)
# 10.  IDP    > user     ; redirect to nginx + /oauth2/callback URL
# 11.  user   > nginx    ; get to /oauth2/callback URL after sign-in
# 12.  nginx  > oa2p     ; proxy pass, oa2p register user session
# 13.  oa2p   > redis    ; create session
# 14.  oa2p   > nginx    ; gives token & cookie data for user
# 15.  nginx  > user     ; set cookie, set headers from tokens, redirect to app / initial url
#
#app access after sign-in
# 16.  user   > nginx    ; get app + send cookie
# 17.  nginx  > oa2p     ; auth_request to /oauth2/auth : send cookie data
# 18.  oa2p   > redis    ; get session, check session 
# 19.  oa2p   > nginx    ; OK (202 ?) + token / session data
# 20.  nginx  > app      ; proxypass to app with headers from token / session data



# ------------------------
# oauth2_proxy server
# ------------------------
# if run in Docker, just has to be reachable by Nginx
http_address="0.0.0.0:4180"


# oauth2_proxy is the client for the IDP /Keycloak Client config
provider="keycloak-oidc"
provider_display_name="Cavaliba Keycloak"
client_id="oauth2proxy"
client_secret="xxxxxxxxxxxxxxxxxxxxxxx"
skip_provider_button="true"
auth_logging = true
standard_logging = true
request_logging = true
show_debug_on_error = true
#logging_filename = "/var/log/oauth2-proxy.log"
oidc_issuer_url="http://192.168.0.11:8080/realms/myrealm"
session_store_type = "redis"
redis_connection_url = "redis://redis"
cookie_secret="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
cookie_expire="0h45m0s"
cookie_httponly=false
cookie_secure=false
cookie_refresh=true
cookie_samesite="lax"
#cookie_samesite="none"
cookie_csrf_expire="7m"
#cookie_csrf_per_request=true
cookie_domains=["192.168.0.11","localhost"] # Required so cookie can be read on all subdomains.
whitelist_domains=["192.168.0.11","localhost"] # Required to allow redirection back to original requested target.
email_domains=["*"]
#email_domains="*"

set_xauthrequest=true
set_authorization_header=true
pass_authorization_header=true
pass_access_token=true

redirect_url="http://192.168.0.11:8000/oauth2/callback"
# redirect_url="/oauth2/callback"
