{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_data/_navbar_app.html' %}
{% endblock %}


{% block title %}
<h2>{{ instance.displayname|default:instance.keyname }}</h2>
<small class="text-muted">{{ classobj.displayname }}</small>
<hr>
{% endblock %}


{% block content %}
<form method="post" class="inline">{% csrf_token %}

<a class="btn btn-outline-dark" href="{% url 'app_data:instance_list' classobj.keyname %}" role="button">
    <i class="fa fa-backward" aria-hidden="true"></i>&nbsp; {% translate 'Back' %}</a>

{% if 'p_instance_rw' in aaa.perms %}
<a class="btn btn-outline-danger" href="{% url 'app_data:instance_edit' classobj.keyname keyname %}" role="button">
    <i class="fa fa-lg fa-pencil" aria-hidden="true"></i> &nbsp; {% translate 'Edit' %}</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal">
{% translate "Delete" %}
</button>
{% endif %}
</form>


<hr>


<table class="table table-hover table-bordered table-sm">

        <tr class="table-success"><td colspan="2"><strong>{{ classobj.displayname }} / {{ keyname }}</strong></td></tr>

        <tr><td class="table-light" width="20%">{% translate 'Keyname(*)' %}</td>
        <td>{{ instance.keyname }}</td></tr>


        <tr><td class="table-light" width="20%">{% translate 'Display Name' %}</td>
        <td>{{ instance.displayname }}</td></tr>

        <tr><td class="table-light" width="20%">{% translate 'Is Enabled' %}</td>
        <td>{% if instance.is_enabled %}<input type="checkbox" checked disabled/>
            {% else %}<input type="checkbox" disabled/>{% endif %}
        </td></tr>

</table>


<hr>

{% for page,pageitems in instance.PAGES.items %}
<table class="table table-hover table-bordered table-sm">
        <tr class="table-primary"><td colspan="2"><strong>{{page}}</strong></td></tr>
        {%  for order,orderitems in pageitems.items %}{% for item in orderitems %}
        <tr>
        <td class="table-light" width="20%">{{ item.displayname }}</td>
        <td>
        {% if item.dataformat == "string" %}  {{ item.value|default:'' }}
        {% elif item.dataformat == "boolean" %}  
            {% if item.value %}<input type="checkbox" checked disabled/>
            {% else %}<input type="checkbox" disabled/>{% endif %}
        {% elif item.dataformat == "int" %}  {{ item.value|default:'' }}
        {% elif item.dataformat == "float" %}  {{ item.value|default:'' }}
        {% elif item.dataformat == "sirene_group" %}  
            <div class="d-flex flex-wrap"> 
            {% for z in item.value %}
            <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{% url 'app_user:group_detail' z %}" role="button">
            {{ z }}</a>{% endfor %}   
            </div>   
        {% elif item.dataformat == "sirene_user" %}
            <div class="d-flex flex-wrap"> 
            {% for z in item.value %}
            <a class="btn btn-outline-primary btn-sm mx-1 my-1" href="{% url 'app_user:user_detail' z.key %}" role="button">
            {{ z.key }} ({{ z.display }})</a>{% endfor %}     
            </div>  
        {% elif item.dataformat == "sirene_data" %}  
            <div class="d-flex flex-wrap"> 
            {% for z in item.value %}
            <a class="btn btn-outline-success btn-sm mx-1 my-1" href="{% url 'app_data:instance_detail' item.dataformat_ext z.key %}" role="button">
            {{ z.display }}</a>{% endfor %}
            </div>          
        {% elif item.dataformat == "enumerate" %}  
            <div class="d-flex flex-wrap"> 
                {% for z in item.value %}
                    {{ z.widget|safe }} &nbsp; {{ z.value }}
                {% endfor %}
            </div>   



        {% else %} {{ item.value|default:'' }}  {% endif %}
        </td>
        </tr>
        {%  endfor %}{%  endfor %}
</table>
{%  endfor %}





<!-- DELETE CONFIRM Modal -->
<div class="modal fade" id="DeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<h1 class="modal-title fs-5" id="staticBackdropLabel">{% translate "Confirm delete ?" %}</h1>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
    
<div class="modal-body">
<p>{{ classobj.keyname }} :  {{ keyname }} ?</p>
</div>

<div class="modal-footer">
<form action="{% url 'app_data:instance_delete' classobj.keyname keyname %}" method="post">{% csrf_token %}
<button role="button" class="btn btn-danger">{% translate "Delete" %}</button>
<a role="button" class="btn btn-outline-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</a>
</form>
</div>

</div>
</div>
</div>



{% endblock %}
