{% load static %}
{% load i18n %}

<!-- FLOAT format -->
{% if item.is_multi %}
<div class="mb-3 row">
  <label class="col-form-label col-sm-2">{{ item.displayname }}</label>
  <div class="form-check col-sm-10">
  Unsupported Multi-value
  <div class="form-text">{{item.dataformat }}</div>
</div>
</div>
{% else %}
<div class="mb-3 row">
  <label class="col-form-label col-sm-2">{{ item.displayname }}</label>
  <div class="form-check col-sm-10">
  <input type="text" class="form-control col-sm-10" 
       id="{{ item.fieldname }}" 
       name="{{ item.fieldname }}" 
       value="{{ item.value.0|default_if_none:''}}"
       >
  {% if item.description %}<div class="form-text">{{item.dataformat }}: {{ item.description }}</div>{% endif %}
</div>
</div>
{% endif %}