{% extends "app_home/base.html" %}
{% load static %}
{% load i18n %}

{% block navbar_app %}
{% include 'app_sirene/_navbar_app.html' %}
{% endblock %}

{% block title %}
<H2>{% translate 'Message Update' %}</H2>
<hr>{% endblock %}

{% block content %}

{% if message.is_visible %}

<form method="post">{% csrf_token %}

<a class="btn btn-outline-dark" onclick="history.back()" role="button">
  <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;{% translate 'Back' %}  </a>

{% if 'p_sirene_update' in aaa.perms %}
<input class="btn btn-success" type="submit" value="{% translate 'Publish' %} " name="save">
{% endif %}

<hr>

<table class="table ">
{{ form.as_table }}
</table>

</form>
{% endif %}

{% endblock %}






