{% load static %}
{% load i18n %}


<li class="sidebar-header-active">
  {% translate 'Identités' %}
</li>


<li class="sidebar-item">
  <a class="sidebar-link" href="{% url 'app_user:user_list' %}">
    <i class="fa fa-fw fa-lg fa-user" aria-hidden="true"></i>
      {% translate 'Users' %}
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link" href="{% url 'app_user:group_list' %}">
    <i class="fa fa-fw fa-lg fa-users" aria-hidden="true"></i>
    {% translate 'Groups' %}
  </a>
</li>


<li class="sidebar-item">
  <a class="sidebar-link" href="{% url 'app_user:role_list' %}">
    <i class="fa fa-fw fa-lg fa-user-secret" aria-hidden="true"></i>
    {% translate 'Roles' %}
  </a>
</li>