{% load static %}
{% load i18n %}

<!-- string format -->

{% if item.is_multi %}

<div class="mb-3 row">
  <label class="col-form-label col-sm-2">{{ item.displayname }}</label>
  <div class="form-check col-sm-10">
  Unsupported Multi-value
  <div class="form-text">{{item.dataformat }}: {{ item.description }}</div>
</div>
</div>


{% else %}

<div class="mb-3 row">
<label class="col-form-label col-sm-2">{{ item.displayname }}</label>
<div class="form-check col-sm-10">

<pre>
<textarea class="form-control" id="{{ item.fieldname }}" name="{{ item.fieldname }}" rows="32">{{ item.value.0|default_if_none:''}}
</textarea>
</pre>

{% if item.description %}<div class="form-text">{{item.dataformat }}: {{ item.description }}</div>{% endif %}
</div>
</div>
{% endif %}